USE [master]
GO
/****** Object:  Database [Karavan_4230]    Script Date: 10/24/2020 7:36:10 PM ******/
CREATE DATABASE [Karavan_4230]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Karavan_4230', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.DATACAMP_SQL\MSSQL\DATA\Karavan_4230.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Karavan_4230_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.DATACAMP_SQL\MSSQL\DATA\Karavan_4230_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Karavan_4230].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Karavan_4230]
GO
/****** Object:  Table [dbo].[EMAIL]    Script Date: 10/24/2020 7:36:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMAIL](
	[id_posetitel] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ime] [nvarchar](50) NULL,
	[mail] [nvarchar](50) NULL,
 CONSTRAINT [PK_posetitel] PRIMARY KEY CLUSTERED 
(
	[id_posetitel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMAIL_GRUPA]    Script Date: 10/24/2020 7:36:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMAIL_GRUPA](
	[id_grupa] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[jazik_id_jazikm] [numeric](18, 0) NULL,
	[naziv] [nvarchar](50) NULL,
	[aktivna] [numeric](18, 0) NULL,
 CONSTRAINT [PK_grupa] PRIMARY KEY CLUSTERED 
(
	[id_grupa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMAIL_PORAKA]    Script Date: 10/24/2020 7:36:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMAIL_PORAKA](
	[id_poraka] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[grupa_id_grupa] [numeric](18, 0) NULL,
	[datum] [datetime] NULL,
	[naslov] [nvarchar](50) NULL,
	[tekst] [nvarchar](500) NULL,
 CONSTRAINT [PK_poraka] PRIMARY KEY CLUSTERED 
(
	[id_poraka] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GALERIJA]    Script Date: 10/24/2020 7:36:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GALERIJA](
	[id_galerija] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[preview] [numeric](18, 0) NULL,
 CONSTRAINT [PK_galerija] PRIMARY KEY CLUSTERED 
(
	[id_galerija] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GALERIJA_OPIS]    Script Date: 10/24/2020 7:36:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GALERIJA_OPIS](
	[id_galerija] [numeric](18, 0) NULL,
	[jazik_id_jazikg] [numeric](18, 0) NULL,
	[naslov] [nvarchar](50) NULL,
	[opis] [nvarchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GALERIJA_SLIKA]    Script Date: 10/24/2020 7:36:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GALERIJA_SLIKA](
	[id_slika] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[gal_id_galerijas] [numeric](18, 0) NULL,
	[opisslika] [nvarchar](300) NULL,
	[slika] [nvarchar](50) NULL,
	[opisslikaeng] [nvarchar](300) NULL,
 CONSTRAINT [PK_slika] PRIMARY KEY CLUSTERED 
(
	[id_slika] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JAZIK]    Script Date: 10/24/2020 7:36:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JAZIK](
	[id_jazik] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[jazik] [nvarchar](50) NULL,
 CONSTRAINT [PK_jazik] PRIMARY KEY CLUSTERED 
(
	[id_jazik] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KADMINISTRATOR]    Script Date: 10/24/2020 7:36:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KADMINISTRATOR](
	[Id_admin] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
	[ime] [nvarchar](50) NULL,
	[telefon] [nvarchar](50) NULL,
 CONSTRAINT [PK_admin] PRIMARY KEY CLUSTERED 
(
	[Id_admin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KDOKUMENT]    Script Date: 10/24/2020 7:36:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KDOKUMENT](
	[id_dokument] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[naslov] [nvarchar](50) NULL,
	[jazik_id_jazikd] [numeric](18, 0) NULL,
	[dokument] [nvarchar](50) NULL,
	[prikaz] [numeric](18, 0) NULL,
 CONSTRAINT [PK_dokument] PRIMARY KEY CLUSTERED 
(
	[id_dokument] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KNOVNOST]    Script Date: 10/24/2020 7:36:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KNOVNOST](
	[id_novost] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[adm_id_adminn] [numeric](18, 0) NULL,
	[jazik_id_jazikn] [numeric](18, 0) NULL,
	[naslov] [nvarchar](50) NULL,
	[opis] [nvarchar](1500) NULL,
	[datum_od] [datetime] NULL,
	[datum_do] [datetime] NULL,
 CONSTRAINT [PK_novost] PRIMARY KEY CLUSTERED 
(
	[id_novost] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAILING]    Script Date: 10/24/2020 7:36:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAILING](
	[email_id_posetitel] [numeric](18, 0) NULL,
	[email_id_grupa] [numeric](18, 0) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EMAIL_GRUPA]  WITH CHECK ADD  CONSTRAINT [FK_EMAIL_GRUPA_JAZIK] FOREIGN KEY([jazik_id_jazikm])
REFERENCES [dbo].[JAZIK] ([id_jazik])
GO
ALTER TABLE [dbo].[EMAIL_GRUPA] CHECK CONSTRAINT [FK_EMAIL_GRUPA_JAZIK]
GO
ALTER TABLE [dbo].[EMAIL_PORAKA]  WITH CHECK ADD  CONSTRAINT [FK_EMAIL_PORAKA_EMAIL_GRUPA] FOREIGN KEY([grupa_id_grupa])
REFERENCES [dbo].[EMAIL_GRUPA] ([id_grupa])
GO
ALTER TABLE [dbo].[EMAIL_PORAKA] CHECK CONSTRAINT [FK_EMAIL_PORAKA_EMAIL_GRUPA]
GO
ALTER TABLE [dbo].[GALERIJA_OPIS]  WITH CHECK ADD  CONSTRAINT [FK_GALERIJA_OPIS_GALERIJA] FOREIGN KEY([id_galerija])
REFERENCES [dbo].[GALERIJA] ([id_galerija])
GO
ALTER TABLE [dbo].[GALERIJA_OPIS] CHECK CONSTRAINT [FK_GALERIJA_OPIS_GALERIJA]
GO
ALTER TABLE [dbo].[GALERIJA_OPIS]  WITH CHECK ADD  CONSTRAINT [FK_GALERIJA_OPIS_JAZIK] FOREIGN KEY([jazik_id_jazikg])
REFERENCES [dbo].[JAZIK] ([id_jazik])
GO
ALTER TABLE [dbo].[GALERIJA_OPIS] CHECK CONSTRAINT [FK_GALERIJA_OPIS_JAZIK]
GO
ALTER TABLE [dbo].[GALERIJA_SLIKA]  WITH CHECK ADD  CONSTRAINT [FK_GALERIJA_SLIKA_GALERIJA] FOREIGN KEY([gal_id_galerijas])
REFERENCES [dbo].[GALERIJA] ([id_galerija])
GO
ALTER TABLE [dbo].[GALERIJA_SLIKA] CHECK CONSTRAINT [FK_GALERIJA_SLIKA_GALERIJA]
GO
ALTER TABLE [dbo].[KDOKUMENT]  WITH CHECK ADD  CONSTRAINT [FK_KDOKUMENT_JAZIK] FOREIGN KEY([jazik_id_jazikd])
REFERENCES [dbo].[JAZIK] ([id_jazik])
GO
ALTER TABLE [dbo].[KDOKUMENT] CHECK CONSTRAINT [FK_KDOKUMENT_JAZIK]
GO
ALTER TABLE [dbo].[KNOVNOST]  WITH CHECK ADD  CONSTRAINT [FK_KNOVNOST_JAZIK] FOREIGN KEY([jazik_id_jazikn])
REFERENCES [dbo].[JAZIK] ([id_jazik])
GO
ALTER TABLE [dbo].[KNOVNOST] CHECK CONSTRAINT [FK_KNOVNOST_JAZIK]
GO
ALTER TABLE [dbo].[KNOVNOST]  WITH CHECK ADD  CONSTRAINT [FK_KNOVNOST_KADMINISTRATOR] FOREIGN KEY([adm_id_adminn])
REFERENCES [dbo].[KADMINISTRATOR] ([Id_admin])
GO
ALTER TABLE [dbo].[KNOVNOST] CHECK CONSTRAINT [FK_KNOVNOST_KADMINISTRATOR]
GO
ALTER TABLE [dbo].[MAILING]  WITH CHECK ADD  CONSTRAINT [FK_MAILING_EMAIL] FOREIGN KEY([email_id_posetitel])
REFERENCES [dbo].[EMAIL] ([id_posetitel])
GO
ALTER TABLE [dbo].[MAILING] CHECK CONSTRAINT [FK_MAILING_EMAIL]
GO
ALTER TABLE [dbo].[MAILING]  WITH CHECK ADD  CONSTRAINT [FK_MAILING_EMAIL_GRUPA] FOREIGN KEY([email_id_grupa])
REFERENCES [dbo].[EMAIL_GRUPA] ([id_grupa])
GO
ALTER TABLE [dbo].[MAILING] CHECK CONSTRAINT [FK_MAILING_EMAIL_GRUPA]
GO
/****** Object:  StoredProcedure [dbo].[EX1]    Script Date: 10/24/2020 7:36:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[EX1]
	-- Add the parameters for the stored procedure here
	@sine as int
AS
BEGIN

	SET NOCOUNT ON;


	SELECT naslov, opis, id_galerija
	FROM GALERIJA_OPIS AS g
	INNER JOIN
	JAZIK as j
	ON j.id_jazik = g.jazik_id_jazikg
	WHERE @sine = j.id_jazik
END
GO
/****** Object:  StoredProcedure [dbo].[EX2]    Script Date: 10/24/2020 7:36:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EX2]
	-- Add the parameters for the stored procedure here
	@sine2 as nvarchar(50)
AS
BEGIN

	SET NOCOUNT ON;


	SELECT ime, jazik
	FROM KADMINISTRATOR as k
	INNER JOIN
	KNOVNOST as kn
	ON k.Id_admin = kn.adm_id_adminn
	INNER JOIN
	JAZIK as J
	ON kn.jazik_id_jazikn = id_jazik
	WHERE @sine2 = kn.naslov
END
GO
/****** Object:  StoredProcedure [dbo].[EX3]    Script Date: 10/24/2020 7:36:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EX3]
@sine3 as nvarchar(50)
AS
SELECT ime, COUNT(Email_Id_Grupa) as GroupNum
FROM Email AS Em
    INNER JOIN
    Mailing AS Ma
    on Em.id_posetitel = Ma.Email_Id_Posetitel
GROUP BY ime
ORDER BY GroupNum
GO
/****** Object:  StoredProcedure [dbo].[EX4]    Script Date: 10/24/2020 7:36:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EX4]
AS
SELECT naslov, tekst
FROM Email_Poraka AS EP
    INNER JOIN
    Email_Grupa AS EG
        on EP.Grupa_Id_Grupa = EG.id_grupa
WHERE EG.aktivna = 1
GO
USE [master]
GO
